<configuration>
  <appSettings>
    <add key="TestValue1" value="Testing" />
    <add key="PageTitle" value="OverriddenValue" />
    <add key="AnotherValue" value="Secret Setting" />
    <add key="YetAnotherValue" value="Another Secret Setting" />
  </appSettings>
  <connectionStrings>
    <add name="TestConnection1" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Foo.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="NewValue!" providerName="System.Data.SqlClient" />
    <add name="AnotherConnection" connectionString="Secret Value" providerName="System.Data.SqlClient" />
    <add name="YetAnotherConnection" connectionString="Another Secret Value" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
</configuration>